.review{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-left: 100px;
}
.cart-container{
    background-color: rgba(221, 215, 215, .50);
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    height: 280px;
    position: center;
}
#gify img{
    height: 10%;
    width: 70%;
}
#gify{
    justify-content: center;
}
#placeOrder{
    margin-left: 10s0px;
}